@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');


body {
    // background-color: #fff9e4;
    background-color: #2c2c2ce5;
    // max-height: 700px;
    object-fit: cover;
   


   
    .name_container {
        display: flexbox;
        flex-direction: row;
        min-width: 350px;
        max-width: 1200px;
        min-height: 600px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        // overflow: visible;
        border: solid 2px #f4e5ae;
        border-radius: 20px;
        background-image: url(img/background.png);
        background-repeat: no-repeat;
        background-color: #ffef85;
        background-size: cover;
        
    }
    
        
            .name {
                position: absolute;
                margin-top: 10%;
                margin-left: 10%;
                margin-right: 20%;
                // overflow: hidden;
                font-size: calc(70px + 10 * (100vw / 1200));
                font-family: 'Comforter', cursive;
                line-height: 0.7em;
                text-align: center;
                color: #000000;
                text-shadow: rgb(234, 168, 46) 1px 0 10px;
     
                animation: scale 3s linear infinite alternate;
                animation-direction: alternate-reverse;
                transform-origin:50% 50%;
                -webkit-transform-origin:50% 50%;
                -moz-transform-origin:50% 50%;
            }

          
    
            .flowers {
                // position: absolute;
                overflow: hidden;
                float: right;
                align-items: top;
                width: 60%;
                max-width: 400px;
                border-radius: 0px 20px 0px 0px;
                
            }

        @keyframes scale {
            0% {
                transform: scale(0.9);
            }
            100% {
                transform: scale(1);
            }
            0% {
                -webkit-transform: scale(0.9);
            }
            100% {
                -webkit-transform: scale(1);
            }
            0% {
                -ms-transform: scale(0.9);
            }
            100% {
                -ms-transform: scale(1);
            }
        }
     }   
    


     .preloader {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #000000;
      //   opacity: 0.7;
        z-index: 1001;
      }
    
      .preloader {
          position: fixed;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;
          /* фоновый цвет */
          // background: #e0e0e0;
          z-index: 1001;
        }
      
      .preloader__image {
        position: relative;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px;
        text-align: center;
        animation: preloader-rotate 2s infinite linear;
      }
      @keyframes preloader-rotate {
        0% {
            transform: scale(0.95);
          }
          5% {
            transform: scale(1.1);
          }
          39% {
            transform: scale(0.85);
          }
          45% {
            transform: scale(1);
          }
          60% {
            transform: scale(0.95);
          }
          100% {
            transform: scale(0.9);
          }
        }
      
      .loaded_hiding .preloader {
        transition: 0.3s opacity;
        opacity: 0;
      }
      
      .loaded .preloader {
        display: none;
      }


      .secret {
        
      }